/* add your CSS here */

body{
  margin: 15px;
}

#int-fact{
  font-style: italic;
}

img{
  width: 300px;
  height: 200px;
}

.border{
  border: 1px solid black;
  padding: 15px;
}

#animal,span{
  font-weight: bold;
}

.border-shadow{
  -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.29);
  box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.29);
}
